
/*#body{
	background-color: grey;
}*/
#center{
	text-align: center;
}


#movies, #movie{
	/*background-color: #e9ecef;*/
	background-color: #c3d1de;
	border-radius: 15%;
}

#movies img, #movie img{
	width: 100%;
	border-radius: 30px;
	border: 2px solid black;
}

#movies .col-md-3 .well{
	padding-top: 20%;
	height: 550px;
}

#movie .col-md-3 .well{
	padding-top: 20%;
	height: 550px;
}

#movies .col-md-3 img{
	height: 400px;
}

#movie .col-md-3 img{
	height: 400px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  width: 30%;
  height: 100%;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px ;
  cursor: pointer;
  font-size: 20px;
  
}
/*for button*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 105%;
  border: 10px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 60px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 20px;
}

#searchForm{
  width: 50%;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 60px;
  height: 60px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 30px;
}

</style>
